<section class="greenup">	
	<h2>Green Up Vermont</h2>
	<a href="https://itunes.apple.com/us/app/green-up-vt/id860271437?ls=1&mt=8">
	<img id="greenuplogo" src="/images/greenup/greenup-152.png" /></a>
	<p>
		Each year the State of Vermont holds "Green-up" events
where volunteers spend part of a spring day cleaning up litter and other
found waste. The event is highly publicized and a great service to the
community: picking up hazardous trash like needles, and cleaning up
discarded alcohol containers makes Vermont's streets that much safer for
everyone. 
	</p>
	<p>
		Xenon Apps members have contributed to cleaning up vermont in the 
		past. However, when doing so we noticed a few things we thought we
		could help with:
	</p>
	<ul>
		<li>Volunteers don't know what's been cleaned already, resulting in overlap and wasted time
		<li>There weren't places clearly marked for dropping off collected garbage
		<li>No way to know what areas were the dirtiest and needed the most volunteers to take it on
	</ul>
	<p>
		During the National Day of Civic Hacking held on 6/22/13, a core group of Xenon Developers began work on a solution to the problem:
	</p>
	<p>
		We sought to address the core problems we saw and outlined the 
		requirements of the application. We needed: to know what had been
		cleaned already; a way for staff to notify volunteers of high-need
		areas; and a way to allow people to communicate with each other.
	</p>
	<p>
		What we created is an application that does exactly this in the 
		palm of your hand. A phone application that shows users, in real
		time, how green vermont is getting from their efforts. Allowing
		users to communicate via a Twitter-esk stream with an interface
		that ties user messages to places on a map. In addition to the
		phone application, we created an administrative dashboard for
		the Green Up organization to interact with the device users. 
		Allowing them to drop markers on the map to direct volunteers
		to locations needing more help, as well as to moderate the forum
		feed for any offensive commentary. 
	</p>

	<div class="slideshow">
	  <ul>
	  	<li>Click below to cycle images</li>
	    <li><a href="#one">Image One</a><img class="thumb" id="one" src="/images/greenup/home.png" alt="home"/></li>
	    <li><a href="#two">Image Two</a><img class="thumb" id="two" src="/images/greenup/mapHeatMapAndMarkers.png" alt="heatmap"/></li>
	    <li><a href="#three">Image Three</a><img class="thumb" id="three" src="/images/greenup/mapWithMenu.png" alt="heatmap"/> </li>
	    <li><a href="#four">Image Four</a><img class="thumb" id="four" src="/images/greenup/mapWithSpinnerView.png" alt="heatmap"/> </li>
	  </ul>
	</div>
	<SCRIPT TYPE="text/javascript">
		document.getElementsByClassName('thumb')[0].style.opacity = 1;
		document.getElementsByClassName('thumb')[0].style.zIndex = 1;
	</SCRIPT>
	<p style="text-align: center">
		<a href="https://itunes.apple.com/us/app/green-up-vt/id860271437?ls=1&mt=8" >Download the App for free in the apple store</a>
	</p>
</section>
