<section>
	<h2>Our work</h2>
	<p>
		It takes a lot of effort to go from a blank text file to a full fledged project. But creating amazing things out of thin air is our speciality. We specialize in creating custom software tailored to the needs of a starting application -- while leaving architectural room for scaling an application to larger systems.  
	</p>
	<p>
		Hackathon's and doing fast prototyping is also something we excel at. We've got the programmers who dive headfirst into code to get something up and working fast. And the cooler-headed programmers who plan out everything first then start coding. It's the mixture of these two types of styles and balancing them that results in projects that not only excel, but excel quickly and then stay stable. 
	</p>
</section>