<section>
	<h2>Our work</h2>
	<p>
		It takes a lot to go from a blank text file to a full fledged project. But conjuring applications out of thin air is our speciality. Specializing in creating custom software tailored to the needs of a project is what we do best. Our custom systems are designed to meet the needs of the situation, whether that's scaling, securing, or simple internal solutions.
	</p>
	<p>
		The team behind Xenon Apps are veterans of Hackathons like <a href="http://hackvt.com/">Hack VT</a> and <a href="http://hackforchange.org/">Hack For Change</a>. We don't always win, but that's never the point. Giving back to our communities and assisting where we can is one of the best ways to spend a weekend. 
	</p>
	<p>
		Some of our current projects stem from engagement within our community. As a group, we try to find problems that could benefit from our skill set and then work with clients to enrich their systems and workflow. We're always trying to make life a little bit easier, whether it's integrating with your phone, your glasses, or your day-to-day tools. 
	</p>
</section>