<header>
	<h1><a href="index.html"><img id="logo" src="/images/xenonweb.png" alt="Xenon Apps website logo image"/></a></h1>
	<p>
		<em>
		Reliable, Efficient, and Stable
		</em>
	</p>
	<h1 style="padding-left:10px;"><a
href="https://itunes.apple.com/us/app/green-up-vt/id860271437?ls=1&mt=8"
>Looking for the GreenUpApp? Click here</a></h1>
</header>
