<header>
	<h1><a href="index.html"><img id="logo" src="/images/xenonweb.png" alt="Xenon Apps website logo image"/></a></h1>
	<p>
		<em>
		Reliable, Efficient, and Stable
		</em>
	</p>
	<h1 style="float:right; margin-top: .5em; margin-right: 2em; font-weight: 300"><a
href="https://itunes.apple.com/us/app/green-up-vt/id860271437?ls=1&mt=8"
>Looking for the GreenUpApp? Click here</a></h1>
</header>
