<header>
	<h1><a href="index.html"><img id="logo" src="/images/xenonweb.png" alt="Xenon Apps website logo image"/></a></h1>
	<nav class="ribbon">
		<ul>
			<li><a href="/index.html">Home</a></li>
			<li><a href="/company/">Company</a></li>
			<li><a href="/projects/index.html">Projects</a></li>
			<li><a href="/contact.html">Contact Us</a></li>
		</ul>
	</nav>
</header>