<!DOCTYPE html>
<html>
	<head>
	  	<title>Xenon Apps</title>
	</head>

	<body>
		<div class='confirm'>
			<h2>Thank you for your responses, we value your input.</h2>
			<h3><a href="/index.html">Return to Homepage</a></h3>
		</div>
	</body>

</html>