<section>
	<h2>Contacting our team</h2>
	<h3>General Correspondence</h3>
	<p>
		If you'd like to get in touch with just
one of us: you can use our convention of firstname@xenonapps.com. 
	</p>
	<h3>Contributing</h3>
	<p>
		If you'd like to contribute to one of
the projects we work on, visit its home page and fork the project, open
an issue, get in touch and code. We love to code, and if you do
too then we'll probably get along.
	</p>
	<h3>Consultations</h3>
	<p>
		We're just a group of developers; if
you've got an outstanding idea you'd like to implement or discuss. Get
in touch with us and we're more than happy to explore what open-sourcing 
your project could do for you.
	</p>
</section>