<section>
	<h2>Contacting our team</h2>
	
	<form action="https://docs.google.com/forms/d/13af0T5PLWW7-_5_yk0ar7FV1df7K4MGQyqohJDIa00w/formResponse" method="post" id="contact-form" target="hidden_iframe" onsubmit="submitted=true;">

		<script type="text/javascript">var submitted=false;</script>
	    <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='confirmation.html';}">
	    </iframe>

		<fieldset>
			<div class="form-input">
				<label for="entry.413649814">Your Name</label>
				<input type="text" name="entry.413649814" value="" class="ss-q-short" id="entry_413649814" dir="auto" aria-label="Name Please enter your name. " aria-required="true" required="" title="">
			</div>
			<div class="form-input">
				<label for="entry.289848397">Your Email</label>
				<input type="text" name="entry.289848397" value="" class="ss-q-short" id="entry_289848397" dir="auto" aria-label="Email Please enter your email. " aria-required="true" required="" title="">
				<div class="error">Please enter a valid email address</div>
			</div>
			<div class="form-input">
				<label for="entry.1220844030">Your Message</label>
				<textarea name="entry.1220844030" rows="8" cols="0" class="ss-q-long required" id="entry_1220844030" dir="auto" aria-label="Message What would you like to tell us? " aria-required="true" required=""></textarea>
			</div>
			<input type="submit" name="submitBtn" value="Submit" id="contact-submit-button">
		</fieldset>

	</form>

</section>