<section>
	<h2>Contacting our team</h2>
	
	<form action="https://docs.google.com/forms/d/13af0T5PLWW7-_5_yk0ar7FV1df7K4MGQyqohJDIa00w/formResponse" method="POST" id="contact-form" target="_self" onsubmit=""> 
		<div class="form-input">
			<label for="entry.413649814">Name</label>
			<input type="text" name="entry.413649814" value="" class="ss-q-short" id="entry_413649814" dir="auto" aria-label="Name Please enter your name. " aria-required="true" required="" title="">
		</div>
		<div class="form-input">
			<label for="entry.289848397">Email</label>
			<input type="text" name="entry.289848397" value="" class="ss-q-short" id="entry_289848397" dir="auto" aria-label="Email Please enter your email. " aria-required="true" required="" title="">
			<div class="error">Please enter a valid email address</div>
		</div>
		<div class="form-input">
			<label for="entry.1220844030">Message</label>
			<textarea name="entry.1220844030" rows="8" cols="0" class="ss-q-long required" id="entry_1220844030" dir="auto" aria-label="Message What would you like to tell us? " aria-required="true" required=""></textarea>
		</div>
		<input type="submit" name="submitBtn" value="Submit" id="contact-submit-button">
	</form>

	<script>	
		function processForm(e) {
		    if (e.preventDefault) e.preventDefault();
		    var emailValue = document.getElementById('entry_289848397').value
		    var filter=/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i
			if (filter.test(emailValue)) {
				console.log("valid email");
				document.getElementById("contact-form").submit();
			}
			else {
				console.log("invalid email");
				var errors = document.getElementsByClassName("error")
				for (i = 0; i < errors.length; ++i) {
					errors[i].style.display = "block";
				}
			}
		    // prevent the default form behavior
		    return false;
		}
		var form = document.getElementById('contact-form');
		if (form.attachEvent) {
		    form.attachEvent("submit", processForm);
		} else {
		    form.addEventListener("submit", processForm);
		}
	</script>

</section>