
<div id="abovefold" class="index truncatedfold">
<section id="<%= current.source %>">
	<h2>Data Visualization of Green Up Vermont</h2>
	<p>
		Data is great. From our recent efforts creating an <a href="https://itunes.apple.com/us/app/green-up-vt/id860271437?ls=1&mt=8">application</a>
		to use on <a href="greenupvermont.org">Green Up Day</a> we collected over 12,000 data points. But what good is data if you don't use it in some
		way? Well, here at XenonApps, not only do we love creating applications, we love using those systems to inform and enrich the world around us. Down <a href="#map">below</a> is a visualization of the data collected.
	</p>
	
	<h3>General Statistics About the Day:</h3>
	<ul>
		<li>Over 12,000 data points collected for Heatmap</li>
		<li>306 Users of the Application (238 iOS users and 68 Mobile Web Application users)</li>
		<li>Total Time cleaned: 5 days, 4 hours, 33 minutes and 53 seconds</li>
		<li>Approximate acres cleaned: ~741</li>
	</ul>
	<p>
		To read more about how XenonApps spent Green Up day click <a href="http://ejehardenberg.github.io/blog/green-up-vt-app">here</a>. If you're 
		interested in how the back end systems handled the number of people using it, check out one of our developers blog posts <a href="http://ejehardenberg.github.io/blog/varnish">here</a> and <a href="http://ejehardenberg.github.io/blog/varnish-directors">here</a>.
	</p>
	<div style="font-size: 0.9em; font-weight: bold; margin-top: 2em; padding: 4px 2px; background-color: white; border: 2px solid rgb(51, 51, 51); background-position: initial initial; background-repeat: initial initial;" id="hmLoaderContainer">
            <img id="hmLoading" src="//greenup.xenonapps.com/green-web/dash/images/pacman.gif" height="20">
            Heatmap Loading...
    </div>
	<div id="map"></div>
	<div></div>
</section>
</div>