<section>
	<h2>Welcome to Xenon</h2>
	<p>
		Xenon Apps is composed of a small group of motivated, talented individuals who share a love for making things. If you are interested in any of the following, then we should talk:
	</p>
	<ul>
		<li>Open Source</li>
		<li>Developers who can communicate in both Human and Machine language</li>
		<li>Fast Prototyping and Stable Architectures</li>
		<li>Cross Platform and Cross Browser Considerations</li>
	</ul>
	<p>
		Check out our <a href="projects/index.html">projects page</a> for some examples of our work. If you're interested in finding more about who we are, you can find the list of our developers <a href="company/">here</a>.
	</p>
</section>