<div id="abovefold" class="index">
<section>
	<h2>Welcome to Xenon Apps</h2>
	<p>
		Xenon Apps is composed of a <a href="#companyFold">small group</a> of motivated and talented individuals who share a love for making web-based applications. We build scalable, maintanable, and creative solutions to problems. If you are interested in any of the following, then we should <a href="#contactFold">talk</a>:
	</p>
	<ul>
		<li>Need a fast and simple Website
		<li>Need a fast and reliable Web Application
		<li>Need to setup a Server or Caching system to scale your website to more users
		<li>Need help designing internal tools or administrative systems for your company
		<li>Open Source (Code reviewed and stabilized by thousands of eyes!)
		<li>Fast Prototyping and Stable Architectures
		<li>Cross Platform and Cross Browser Considerations
		<li>Developers who can communicate in both Human and Machine language
	</ul>
	<p>
		Check out our <a href="#projectsFold">projects page</a> for some examples of our work. If you're interested in finding more about who we are, you can find the list of our developers <a href="#companyFold">here</a>.
	</p>

</section>
</div>

<div id="companyFold">
  <%- partial("/company/index.ejs") %>
</div>

<div id="contactFold">
  <%- partial("contact.ejs") %>
</div>

<div id="projectsFold">
  <%- partial("/projects/index.ejs") %>
</div>