<section>
	<h2>Welcome to your solution</h2>
	<p>
		Presumptuous? Maybe. But if you're looking here, we may very well be what you're looking for. If any of the following sounds interesting reach out to us:
	</p>
	<ul>
		<li>Open Source</li>
		<li>Developers who can communicate in both Human and Machine language</li>
		<li>Fast Prototyping and Stable Architectures</li>
		<li>Cross Platform and Cross Browser Considerations</li>
		<li>High Fives and Bacon</li>
	</ul>
	<p>
		We like to create interesting and <span class="emphasize">useful</span> software. Check out our <a href="/projects/">projects page</a> for more information. If you're interested in finding out who we are, check out the list of <a href="/company/">developers here</a>.
	</p>
</section>