@backgroundColor: #efefef;
@profileImageSize: 150px;

/* General Background and layout */
*{
  padding: 0;
  margin: 0;
}
html{
  font: helvetica,arial,freesans,clean,sans-serif;color:black;line-height:1.4em;background-color:#F8F8F8;
  padding: 0;
  margin: 0;
}
body{
}
header{
  background-color: @backgroundColor;
  padding: 10px 2% 5px 2%;
  position: fixed;
  height: 70px;
  min-height: 70px;
  width: 100%;
  z-index: 10;
}
#logo{
  height: 50px;
}
header h1{
  display: inline-block;
}
header p{
  display: inline-block;
  margin-left: 10px;
}
#abovefold, #companyFold, #projectsFold,#contactFold{
  padding: 10px 10% 10px 10%;
  padding-bottom: 15%;
}
/* for pushing below the header */
#abovefold{
  padding-top: 80px;
}
#projectsFold{
  padding-bottom: 0%;
}
section{
}
section h2:first-of-type {
  text-align: center;
  font-size: 26pt;
  padding: 10px 0 10px 0;
}
section ul{
  padding: 10px 0 10px 0;
  margin-left: 20px;
}
#companyFold{
}
.bio img{
  width: @profileImageSize;
  height: @profileImageSize; 
  margin: 10px;
}
.bio:nth-of-type(even) img{
  float: left;
}
.bio:nth-of-type(odd) img{
  float: right;
}
.bio{
  clear: both;
}
.bio p{
  padding-bottom: 10px;
}
.bio h2:first-of-type, .project h2:first-of-type{ /* need first of type to override section h2 pseudo */
  font-size: 16pt;
}
#greenuplogo{
  float: right;
  margin: 10px;
}
footer{
  text-align: center;
}
.project{
  padding: 10px 0 10px 0;
}
.greenup ul{
  
}

/* Green Up Slider for images */
#projectsFold .slideshow {
  background-color: black;
    margin: 50px auto;
    position: relative;
    width: 400px;
    min-height: 420px;
}
.slideshow ul {
  list-style: none;
}
.slideshow li {
    color: #fff;
    margin: 0 0 0 250px;
}
.slideshow li a { 
    text-decoration: none;
    font: 15px/1 Helvetica, sans-serif;
    -webkit-transition: color 0.5s ease;
       -moz-transition: color 0.5s ease;
         -o-transition: color 0.5s ease;
        -ms-transition: color 0.5s ease;
            transition: color 0.5s ease;
}
 
.slideshow li a:hover {
    color: #50b0df;
}
.slideshow li img {
  position: absolute;
  left: 10px;
  bottom: 10px;
  max-height: 400px;
  padding: 0;
  margin: 0;
  z-index: -1;
  vertical-align: bottom;
  -webkit-transition: opacity 1s ease-in-out;
     -moz-transition: opacity 1s ease-in-out;
       -o-transition: opacity 1s ease-in-out;
      -ms-transition: opacity 1s ease-in-out;
          transition: opacity 1s ease-in-out;
}
.slideshow li img:target {
    z-index: 1;
}
.slideshow li img:not(:target) {
    opacity: 0;
}