/* General Background and layout */
html, body {
  height: 100%;
}
body {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -3em; /* the bottom margin is the negative value of the footer's height */
}
#footer, .push {
  height: 3em; /* .push must be the same height as .footer */
}
#footer p{
  padding: 0;
  margin: 0;
}
html{
  /*background: url('../images/dark_mosaic.png'); /*http://subtlepatterns.com/dark-mosaic/*/
  color: #ffffff; /*I need to see */
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  background-color: #333;
  padding: 0;
  margin: 0;
  color: #cbcbcb;
}
body{
  padding: 0;
  margin: 0;
  background-color: #1c1c1c
}
header{
  padding-top: 10px;
  padding-bottom: 5px;
  width: 80%;
  margin-left: 10%;
  background-color: black;
  box-shadow: 0px .5em .5em #000006;
    
  background-image: -ms-linear-gradient(bottom, #000000 0%, #010101 50%, #010101 100%);
  background-image: -moz-linear-gradient(bottom, #000000 0%, #010101 50%, #010101 100%);
  background-image: -o-linear-gradient(bottom, #000000 0%, #010101 50%, #010101 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #000000), color-stop(0.5, #010101), color-stop(1, #010101));
  background-image: -webkit-linear-gradient(bottom, #000000 0%, #010101 50%, #010101 100%);
  background-image: linear-gradient(to top, #000000 0%, #010101 50%, #010101 100%);
}
#logo{ /*It may be wise to have multiple image sizes instead of just setting the logo? not sure*/
  width:10%;
  margin-left: 10%;
  background-color:rgba(0,0,128,0.05);
}
a{
  color: #eee;
}
a:hover{
  color: #fff;
}
#content{  
  box-shadow: 0px 1em 1em black;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #222;
  min-height: 400px;
}
#content.index{
  width: 80%;
  margin-left: 10%;
}

nav ul, #footer p{
  text-align: center;
  list-style-type: none;
  border-bottom: thin solid #000066;
}
nav ul li{
  width: 20%;
  display: inline-block;
}
nav ul li:hover{
}
nav a{
  text-transform: uppercase;
}

section{
  margin-left: 10%;
  width: 80%;
}

section dl dt{
  border-bottom: #00f0ff solid thick;
  font-size: 110%;
  font-weight: bolder;
  text-align: center;
}
section dl dd p{
  width: 80%;
}
.emphasize{
  font-style: italic;
}
section ul{
}

#footer{
  margin-left: 10%;
  margin-bottom: 0;
  padding-bottom: 0;
  clear: both;
}

/* Profiles and Company section */
#member-list{
  display: inline-block;
  list-style-type: none;
  margin: 0em 0 1em 0;
  margin-left: 1em;
  padding-left: 0;
  width: 100%;
}
#member-list li{  
  width: 13%;
  text-align: center;
  font-weight: bolder;
  border-bottom: thin solid white;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
  border-top-left-radius: .5em;
  border-top-right-radius: .5em;
  display: inline-block;
  background-color: rgb(24.3,49.4,68.2);
  transition: opacity,background-color .5s ease-in-out;
  -moz-transition: opacity,background-color .5s ease-in-out;
    -webkit-transition: opacity,background-color .5s ease-in-out;
} 
#member-list li a{
  padding: .05em;
  display: block;
  text-decoration: none;
  color: #eee;
  text-shadow: rgba(0,0,0,0.3) 0 1px 0;
}
#member-list li:hover{
  background-color: #3E7EAE;
  color: black;
  cursor: pointer;
} 
#member-list li.active{
  background-color: #3E7EAE;
}
#profile-container{
  width:100%;
  margin: 1em 0 1em 0;
  margin-left: 10%;
}
#profile-container p{
  display: inline-block;
  width: 50%;
  margin: 2% 5% 5% 2%
}
#profile-container img + p{
  margin: 0 2% 0 2%;
}
#profile-container img{
  vertical-align: top;
  display: inline-block;
  
  float: right;
  margin-right: 18%;
  padding-bottom: 2em;
  width: 250px;
  height: 250px;
}
#bio{
  min-height: 350px;
}
#bio h2{
  margin: 2% 2% 0 2%;
}
#bio h2, #bio h2 a {
  color: #55acee;
  text-shadow: rgba(0,0,0,0.3) 0 1px 0;
}
#bio h2 a{
  text-decoration: none;
}
#index-logo{
  width: 25%;
  height: auto !important;
}

.ribbon {
    width: 100%;
    margin: 10px auto;
    padding: 0 10px 0;
    position: relative;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.ribbon ul, .ribbon p {
    display: block;
    height: 30px;
    line-height: 1.3;

    width: 99%;
    margin: 0;
    padding: 5px 10px;
    position: relative;
    left: -16px;
    top: 8px;
    color: #cfcfcf;
    text-shadow: 0 1px 1px #111;
    border-top: 1px solid #363636;
    border-bottom: 1px solid #202020;
    background: #000006;
    background: linear-gradient(top, #383838 0%, #262626 100%);
    border-radius: 2px 2px 0 0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
}
.ribbon ul::before,
.ribbon ul::after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -11px;
    z-index: -10;
    border: 5px solid;
    border-color: #242424 transparent transparent transparent;    
}
.ribbon ul::before {left: 0;}
.ribbon ul::after {right: 0;}

.ribbon p{
  margin-left: 0;
}
#footer.ribbon{
  margin-left: 10%;
  width: 80%;
}
#footer p{
  left: 0;
  margin-left: 0;
  padding-left: 0;
}