<section>
	<h2>Our work</h2>
	<p>
		Creating a functional, beautiful application from an idea and a blank text file takes a lot of planning, communication, and pure hard work, but it's what we love to do. Xenon specializes in creating flexible and highly customized software that provides the best solution possible. 
	</p>
	<p>
		The team behind Xenon Apps are veteran hackers and software engineers. Making applications isn't just a job. We love to code, and we love to participate in the collaborative programming community. Most of our team members attend events such as <a href="http://hackvt.com/">Hack VT</a>, <a href="http://hackforchange.org/">Hack For Change</a>, and the <a href="https://code.google.com/codejam/">Google Code Jam.</a>
	</p>
	<p>
		These events aren't just about competition (although it's nice to win!). Interacting with peers, sharing ideas, and improving our community: these are goals that motivate us, and indeed have provided the impetus for many of our projects. As a group, we try to find problems that could benefit from the application of our skill set and then set about crafting a solution. We're always trying to make life a little bit easier, whether it's integrating with your phone, your glasses, or your day-to-day tools. 
	</p>
</section>