html{
	background: url('/images/concrete_wall_2.png'); /*http://subtlepatterns.com/concrete-wall-2/*/
}
h1,p,a{
	text-align: center;
	color: #000000; 
}
img{
	width:30%;
	margin-left: 35%;
	margin-top: 20%;
}
a:hover{
	color: #00f0f0;
}
		