nav ul{
	text-align: center;
	list-style-type: none;
}
nav ul li{
	width: 20%;
	display: inline-block;
}
nav a{
	text-transform: uppercase;
}

/*For the hr preceeded by header*/
header + hr{
	width: 80%;
	border-color: #00f0ff;
}

section{
	margin-left: 10%;
	width: 80%;
}
section p{
	margin-left: 5%;
	width: 50%;
}

section dl dt{
	border-bottom: #00f0ff solid thick;
	font-size: 110%;
	font-weight: bolder;
	text-align: center;
}
section dl dd p{
	width: 80%;
}
.emphasize{
	font-style: italic;
}
section ul{
	margin-left: 5%;
}