<div id="bio">
	<h2><a href="http://ejehardenberg.github.io">Ethan Eldridge</a></h2>
	<img src="https://1.gravatar.com/avatar/dd3b20b97363bb7a6b08ba87171304a3?s=250" />
	<p>
		By day a Java/RoR developer and by night a C/Python hacker, Ethan has been programming since middle school. First starting out with Blitz Basic and moving into C++ before discovering the fantastic world of back-end and API driven systems. His primary focus is always on creating efficient and reliable architectures. Familiar with utilizing applications like <a href="https://www.varnish-cache.org">Varnish</a> as well as <a href="aws.amazon.com">Amazon's Web Services</a>, Ethan is well versed in creating a platform for any application to stand on, even under large degrees of traffic.
	</p>
	<p>
		A firm believer in documentation and thinking before putting fingertips to keypad, Ethan specializes in scalable system designs and optimizations as well as creating support and service layer applications. While his dayjob often leaves him with system adminstrative tasks, his <a href="http://ejehardenberg.github.io/projects.html">side projects</a> give him experience within many levels of software engineering. 
	</p>
</div>