<section>
	<h2>Who are Xenon Apps?</h2>
	<p>
		Bringing together a wealth of diversity in both background and experience, each member of the Xenon team contributes a unique perspective and set of skills to every task we undertake. Crafting solutions to big problems can take deep thinking and multiple points of view, and the varied skills of our members allow us to reach such solutions in clever and novel ways.
	</p>
	<p>
		Our company's strength is without a doubt its people.
	</p>
	<% for(var slug in public.company._data){ %>
		<%- partial(slug) %>				
	<% }; %>
	
</section>